
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f9;
}
.sidebar {
  height: 100vh;
  background-color: #343a40;
  padding-top: 20px;
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
}
.sidebar a {
  color: #adb5bd;
  padding: 10px 15px;
  display: block;
  font-size: 1.1em;
  transition: color 0.3s;
}
.sidebar a:hover {
  color: #ffffff;
  background-color: #495057;
}
.sidebar a.active {
  color: #ffff00; /* Change active color to yellow */
  background-color: #495057;
}
.topbar {
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.content {
  margin-right: 250px; /* Pushes the content to make space for the sidebar on the right */
  padding: 20px;
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  .content {
    margin-right: 0;
  }
}

